

.inicio{
    text-decoration: none;
    color: #000000;
    font-family: "Arial";
}
.restaurante{
    text-decoration: none;
    color: #000000;
    font-family: "Arial";
}
.usuario{
    text-decoration: none;
    color: #000000;
    font-family: "Arial";
}
